<!-- <form method="post">
    {% csrf_token %}
    
    <input type="submit" value="Sign up">
</form>
-->

{% load static %}
<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="{% static 'login.css' %}">
    </head>
    <body>
        <div class="extra">
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="login">
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                <input placeholder="username" type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
                <input placeholder="password" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                <input placeholder="re-password" type="password" name="password2" autocomplete="new-password" required="" id="id_password2"> 
                <input type="submit" value="Sign up" class="btn btn-large btn-primary btn-block">         
            </form>
        </div>
    </body>
</html>